# 0. 라이브러리 준비

In [222]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt # 시각화

# 1. 데이터 호출 및 정제

## 1.1. 데이터 확인

In [223]:
metro_df = pd.read_csv('./dataset/서울시 지하철 승하차 인원 정보.csv',encoding = 'cp949')

In [224]:
metro_df.head()

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202108,1호선,동대문,415,11,10380,1815,7880,5352,12037,...,5983,7,1043,2,2,0,2,0,0,20210903
1,202108,1호선,동묘앞,84,3,2861,918,3286,4614,5128,...,1759,4,827,0,0,0,0,0,0,20210903
2,202108,1호선,서울역,483,11,7963,5533,10871,31479,31643,...,4968,21,444,1,1,0,0,0,0,20210903
3,202108,1호선,시청,6,0,1597,4399,2727,17957,5971,...,822,3,72,0,2,0,0,0,0,20210903
4,202108,1호선,신설동,247,6,6828,2721,7333,9771,14821,...,3747,15,390,0,0,0,0,0,0,20210903

In [225]:
# 데이터 프레임 정보 요약
metro_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46552 entries, 0 to 46551
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           46552 non-null  int64
 1   호선명           46552 non-null  object
 2   지하철역          46552 non-null  object
 3   04시-05시 승차인원  46552 non-null  int64
 4   04시-05시 하차인원  46552 non-null  int64
 5   05시-06시 승차인원  46552 non-null  int64
 6   05시-06시 하차인원  46552 non-null  int64
 7   06시-07시 승차인원  46552 non-null  int64
 8   06시-07시 하차인원  46552 non-null  int64
 9   07시-08시 승차인원  46552 non-null  int64
 10  07시-08시 하차인원  46552 non-null  int64
 11  08시-09시 승차인원  46552 non-null  int64
 12  08시-09시 하차인원  46552 non-null  int64
 13  09시-10시 승차인원  46552 non-null  int64
 14  09시-10시 하차인원  46552 non-null  int64
 15  10시-11시 승차인원  46552 non-null  int64
 16  10시-11시 하차인원  46552 non-null  int64
 17  11시-12시 승차인원  46552 non-null  int64
 18  11시-12시 하차인원  46552 non-null  int64
 19  12시-13시 승차인원  46552 non-null  int64
 20  12시-13시 하차인원  46552 non-null  int64
 21  13시-14시 승차인원  46552 non-null  int64
 22  13시-14시 하차인원  46552 non-null  int64
 23  14시-15시 승차인원  46552 non-null  int64
 24  14시-15시 하차인원  46552 non-null  int64
 25  15시-16시 승차인원  46552 non-null  int64
 26  15시-16시 하차인원  46552 non-null  int64
 27  16시-17시 승차인원  46552 non-null  int64
 28  16시-17시 하차인원  46552 non-null  int64
 29  17시-18시 승차인원  46552 non-null  int64
 30  17시-18시 하차인원  46552 non-null  int64
 31  18시-19시 승차인원  46552 non-null  int64
 32  18시-19시 하차인원  46552 non-null  int64
 33  19시-20시 승차인원  46552 non-null  int64
 34  19시-20시 하차인원  46552 non-null  int64
 35  20시-21시 승차인원  46552 non-null  int64
 36  20시-21시 하차인원  46552 non-null  int64
 37  21시-22시 승차인원  46552 non-null  int64
 38  21시-22시 하차인원  46552 non-null  int64
 39  22시-23시 승차인원  46552 non-null  int64
 40  22시-23시 하차인원  46552 non-null  int64
 41  23시-24시 승차인원  46552 non-null  int64
 42  23시-24시 하차인원  46552 non-null  int64
 43  00시-01시 승차인원  46552 non-null  int64
 44  00시-01시 하차인원  46552 non-null  int64
 45  01시-02시 승차인원  46552 non-null  int64
 46  01시-02시 하차인원  46552 non-null  int64
 47  02시-03시 승차인원  46552 non-null  int64
 48  02시-03시 하차인원  46552 non-null  int64
 49  03시-04시 승차인원  46552 non-null  int64
 50  03시-04시 하차인원  46552 non-null  int64
 51  작업일자          46552 non-null  int64
dtypes: int64(50), object(2)
memory usage: 18.5+ MB

In [226]:
# 데이터 확인하기
# 사용월
month = sorted(list(set(metro_df['사용월'])))
print(month)

[201501, 201502, 201503, 201504, 201505, 201506, 201507, 201508, 201509, 201510, 201511, 201512, 201601, 201602, 201603, 201604, 201605, 201606, 201607, 201608, 201609, 201610, 201611, 201612, 201701, 201702, 201703, 201704, 201705, 201706, 201707, 201708, 201709, 201710, 201711, 201712, 201801, 201802, 201803, 201804, 201805, 201806, 201807, 201808, 201809, 201810, 201811, 201812, 201901, 201902, 201903, 201904, 201905, 201906, 201907, 201908, 201909, 201910, 201911, 201912, 202001, 202002, 202003, 202004, 202005, 202006, 202007, 202008, 202009, 202010, 202011, 202012, 202101, 202102, 202103, 202104, 202105, 202106, 202107, 202108]

## 1.2. 데이터 정제
### 2020년 이후의 데이터만 추출

In [227]:
# 2020년 이후의 데이터만 수집하여 코로나 이후 지하철 유동 인구를 분석
# 전체 46552개의 데이터 중 12049개 추출
metro_corona = metro_df[metro_df['사용월']> 202000]
metro_corona.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12049 entries, 0 to 12048
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           12049 non-null  int64
 1   호선명           12049 non-null  object
 2   지하철역          12049 non-null  object
 3   04시-05시 승차인원  12049 non-null  int64
 4   04시-05시 하차인원  12049 non-null  int64
 5   05시-06시 승차인원  12049 non-null  int64
 6   05시-06시 하차인원  12049 non-null  int64
 7   06시-07시 승차인원  12049 non-null  int64
 8   06시-07시 하차인원  12049 non-null  int64
 9   07시-08시 승차인원  12049 non-null  int64
 10  07시-08시 하차인원  12049 non-null  int64
 11  08시-09시 승차인원  12049 non-null  int64
 12  08시-09시 하차인원  12049 non-null  int64
 13  09시-10시 승차인원  12049 non-null  int64
 14  09시-10시 하차인원  12049 non-null  int64
 15  10시-11시 승차인원  12049 non-null  int64
 16  10시-11시 하차인원  12049 non-null  int64
 17  11시-12시 승차인원  12049 non-null  int64
 18  11시-12시 하차인원  12049 non-null  int64
 19  12시-13시 승차인원  12049 non-null  int64
 20  12시-13시 하차인원  12049 non-null  int64
 21  13시-14시 승차인원  12049 non-null  int64
 22  13시-14시 하차인원  12049 non-null  int64
 23  14시-15시 승차인원  12049 non-null  int64
 24  14시-15시 하차인원  12049 non-null  int64
 25  15시-16시 승차인원  12049 non-null  int64
 26  15시-16시 하차인원  12049 non-null  int64
 27  16시-17시 승차인원  12049 non-null  int64
 28  16시-17시 하차인원  12049 non-null  int64
 29  17시-18시 승차인원  12049 non-null  int64
 30  17시-18시 하차인원  12049 non-null  int64
 31  18시-19시 승차인원  12049 non-null  int64
 32  18시-19시 하차인원  12049 non-null  int64
 33  19시-20시 승차인원  12049 non-null  int64
 34  19시-20시 하차인원  12049 non-null  int64
 35  20시-21시 승차인원  12049 non-null  int64
 36  20시-21시 하차인원  12049 non-null  int64
 37  21시-22시 승차인원  12049 non-null  int64
 38  21시-22시 하차인원  12049 non-null  int64
 39  22시-23시 승차인원  12049 non-null  int64
 40  22시-23시 하차인원  12049 non-null  int64
 41  23시-24시 승차인원  12049 non-null  int64
 42  23시-24시 하차인원  12049 non-null  int64
 43  00시-01시 승차인원  12049 non-null  int64
 44  00시-01시 하차인원  12049 non-null  int64
 45  01시-02시 승차인원  12049 non-null  int64
 46  01시-02시 하차인원  12049 non-null  int64
 47  02시-03시 승차인원  12049 non-null  int64
 48  02시-03시 하차인원  12049 non-null  int64
 49  03시-04시 승차인원  12049 non-null  int64
 50  03시-04시 하차인원  12049 non-null  int64
 51  작업일자          12049 non-null  int64
dtypes: int64(50), object(2)
memory usage: 4.9+ MB

### 동작구 흑석역 주변 지하철역 데이터만 추출

In [228]:
# 모든 지하철명 출력
name = list(set(metro_df['지하철역']))
print(name)

['이태원', '백마', '구산', '당산', '신반포', '문산', '강매', '가오리', '금곡', '고덕', '흑석(중앙대입구)', '회룡', '의왕', '새절', '서정리', '하남시청(덕풍?신장)', '경복궁(정부서울청사)', '압구정', '군포', '올림픽공원(한국체대)', '시청', '삼성(무역센터)', '동대문', '영등포구청', '홍제', '양원', '부평구청', '청구', '강변', '여의나루', '서초', '노원', '광운대', '소사', '봉은사', '아산', '신천', '효창공원앞', '곡산', '남태령', '대공원', '삼동', '사리', '보정', '건대입구', '천호(풍납토성)', '신정(은행정)', '청명', '장암', '이대', '아현', '계양', '하남검단산', '독산', '고려대(종암)', '인천국제공항', '공덕', '상계', '굴봉산', '기흥', '매봉', '길음', '광나루', '수원', '신방화', '일산', '신림', '팔당', '수리산', '한성대입구(삼선교)', '역촌', '고려대', '마곡', '인천', '평내호평', '연신내', '중계', '월계', '상도', '부발', '종로3가', '사가정', '용답', '영등포시장', '여의도', '마포구청', '동대문역사문화공원', '덕소', '지평', '청량리(지하)', '국수', '두정', '정자', '원덕', '역곡', '김유정', '도봉', '서현', '세종대왕릉', '봉명', '온수', '무악재', '종합운동장', '서울대입구(관악구청)', '중곡', '안양', '당고개', '어린이대공원', '신포', '월드컵경기장', '마천', '광화문(세종문화회관)', '명일', '염창', '개롱', '발산', '화랑대', '광흥창(서강)', '군자', '솔샘', '능곡', '정릉', '석촌', '가락시장', '상수', '동암', '한대앞', '옥수', '정왕', '구룡', '이촌(국립중앙박물관)', '내방', '상봉(시외버스터미널)', '상월곡', '굽은다리', '잠실나루', '한강진', '원인재', '제기동', '여주', '숭실대입구(살피재)', '신길온천', '매교', '신갈', '양천구청', '방학', '독바위', '신금호', '마곡나루', '한남', '용마산(용마폭포공원)', '행신', '숙대입구', '화곡', '양재(서초구청)', '천마산', '반월', '솔밭공원', '천호', '서강대', '오금', '문정', '애오개', '달월', '송내', '구반포', '상일동', '단대오거리', '관악', '선정릉', '몽촌토성', '행당', '제물포', '아신', '신설동', '선유도', '중앙보훈병원', '화전', '강남', '금정', '양평', '신둔도예촌', '세류', '디지털미디어시티', '개화산', '개봉', '가능', '광명사거리', '양주', '수진', '도심', '마석', '수서', '양정', '보라매', '안산', '논현', '남구로', '충정로(경기대입구)', '오산대', '오류동', '용두', '뚝섬유원지', '굽은다리(강동구민회관앞)', '노량진', '방화', '경마공원', '도곡', '송도', '한티', '초지', '월드컵경기장(성산)', '지제', '종각', '운길산', '한양대', '동대입구', '월곡', '합정', '상록수', '공항시장', '강동구청', '광화문', '잠실(송파구청)', '신내', '북한산보국문', '연수', '신대방', '임진강', '마포', '신창(순천향대)', '신사', '삼양사거리', '대모산입구', '청량리(서울시립대입구)', '송탄', '한성백제', '동작', '세마', '학동', '대방', '강일', '가산디지털단지', '도화', '미아사거리', '온양온천', '망원', '증산(명지대앞)', '산본', '대화', '이천', '4.19민주묘지', '대림', '구파발', '구의(광진구청)', '독립문', '오산', '화정', '정발산', '올림픽공원', '수락산', '구리', '회기', '가평', '버티고개', '쌍용동', '월곡(동덕여대)', '삼각지', '대흥(서강대앞)', '숙대입구(갈월)', '낙성대', '하남풍산', '동작(현충원)', '서울역', '돌곶이', '인천공항2터미널', '남부터미널', '불광', '신원', '태릉입구', '평택지제', '아차산', '대흥', '아차산(어린이대공원후문)', '금천구청', '온수(성공회대입구)', '수유(강북구청)', '중화', '회현', '사릉', '동묘앞', '광나루(장신대)', '봉화산(서울의료원)', '응봉', '잠원', '새절(신사)', '공항화물청사', '망우', '학여울', '교대', '안암', '신창', '퇴계원', '부천', '강변(동서울터미널)', '신흥', '오목천', '서울대입구', '압구정로데오', '신도림', '김포공항', '상왕십리', '숭실대입구', '부천시청', '영종', '어린이대공원(세종대)', '대곡', '성신여대입구(돈암)', '호구포', '안국', '금호', '선바위', '방이', '탄현', '충정로', '범계', '평촌', '청라국제도시', '동두천중앙', '목동', '마두', '언주', '초월', '숭의', '수원시청', '도농', '청담', '홍대입구', '곤지암', '석촌고분', '산성', '운서', '대성리', '녹양', '신중동', '경찰병원', '샛강', '인덕원', '주엽', '망포', '상동', '청평', '운정', '북한산우이', '오빈', '중앙', '남춘천', '정부과천청사', '덕정', '등촌', '야당', '덕계', '태평', '구로디지털단지', '공릉(서울과학기술대)', '인천공항1터미널', '명학', '개포동', '수내', '남영', '오리', '신대방삼거리', '총신대입구(이수)', '약수', '회현(남대문시장)', '서동탄', '상봉', '양천향교', '지행', '성수', '을지로입구', '충무로', '송파', '갈매', '양재', '창신', '녹천', '상갈', '혜화', '미아', '상천', '신논현', '화서', '둔촌오륜', '왕십리(성동구청)', '하계', '천왕', '성환', '쌍문', '매탄권선', '석계', '상월곡(한국과학기술연구원)', '진위', '가좌', '일원', '이수', '명동', '구의', '이촌', '가천대', '철산', '야탑', '신당', '답십리', '직산', '공릉', '부평', '면목', '역삼', '인천논현', '검암', '신정', '대야미', '마곡나루(서울식물원)', '월곶', '우장산', '동대문역사문화공원(DDP)', '노들', '오이도', '뚝섬', '선릉', '신이문', '구성', '원흥', '신길', '영등포', '강동', '강촌', '지축', '경복궁', '동두천 중앙', '월롱', '사평', '마장', '백석', '신풍', '부개', '고잔', '모란', '남한산성입구(성남법원.검찰청)', '당정', '주안', '고속터미널', '금촌', '원당', '봉천', '을지로3가', '창동', '장승배기', '길동', '삼양', '오목교(목동운동장앞)', '암사', '신답', '쌍용(나사렛대)', '도원', '국회의사당', '영통', '용산', '성균관대', '풍산', '복정', '죽전', '미사', '낙성대(강감찬)', '문래', '이매', '서대문', '어천', '마들', '금릉', '남동인더스파크', '구로', '녹번', '송정', '파주', '반포', '수색', '광흥창', '남부터미널(예술의전당)', '소래포구', '평택', '백양리', '도림천', '미아(서울사이버대학)', '춘의', '둔촌동', '동인천', '판교', '용문', '과천', '개화', '신정네거리', '용마산', '간석', '녹사평(용산구청)', '안암(고대병원앞)', '배방', '대림(구로구청)', '남한산성입구', '서울숲', '대청', '부천종합운동장', '고색', '보산', '방배', '별내', '총신대입구', '장한평', '신촌', '강남구청', '군자(능동)', '성신여대입구', '오목교', '화계', '의정부', '거여', '종로5가', '삼송', '양수', '가양', '먹골', '사당', '삼성', '경기광주', '송파나루', '서빙고', '중동', '증미', '인하대', '청량리(지상)', '몽촌토성(평화의문)', '한성대입구', '외대앞', '잠실새내', '망월사', '굴포천', '까치산', '을지로4가', '도봉산', '동두천', '구일', '남성', '소요산', '장지', '병점', '삼성중앙', '응암', '증산', '삼산체육관', '화랑대(서울여대입구)', '왕십리', '야목', '보문', '삼전', '천안', '신목동', '석수', '중랑', '용두(동대문구청)', '미금', '춘천', '신용산', '대치', '광명', '잠실', '교대(법원.검찰청)', '까치울', '백운']

In [229]:
dj = ['흑석(중앙대입구)','상도','숭실대입구(살피재)','동작(현충원)','총신대입구(이수)','노들','노량진','장승배기','신대방삼거리' ]

In [230]:
metro_dj = metro_corona[metro_corona['지하철역'].isin(dj)].reset_index(drop=True)

In [231]:
metro_dj['지하철역'].value_counts()

노량진           40
동작(현충원)       40
장승배기          20
숭실대입구(살피재)    20
상도            20
흑석(중앙대입구)     20
신대방삼거리        20
총신대입구(이수)     20
노들            20
Name: 지하철역, dtype: int64

### 불필요한 데이터 삭제 : 작업일자

In [232]:
metro_dj = metro_dj.drop(columns=['작업일자'])

In [233]:
metro_dj.head(3)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,202108,4호선,동작(현충원),12,0,407,444,1343,2942,3284,...,397,740,2,140,0,0,0,0,0,0
1,202108,4호선,총신대입구(이수),92,3,6012,918,14428,8186,38124,...,1399,5679,1,45,0,0,0,0,0,0
2,202108,7호선,상도,0,0,4563,1071,9638,3985,27182,...,1328,4705,17,408,0,0,0,0,0,0

### 호선 합치기

In [234]:
metro_line = metro_dj.groupby(['지하철역','사용월']).sum().reset_index()
metro_line

,지하철역,사용월,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,...,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원
0,노들,202001,21,0,3311,207,4975,1185,15174,2103,...,893,4770,186,1346,3,7,0,0,0,0
1,노들,202002,9,0,3045,219,4405,1175,14406,1953,...,732,3758,159,1077,0,0,0,0,0,0
2,노들,202003,10,0,2736,196,4022,1154,12379,1621,...,556,2809,127,875,0,0,0,0,0,0
3,노들,202004,14,0,2808,234,4091,1244,12854,1775,...,559,3453,0,40,0,0,0,0,0,0
4,노들,202005,15,1,2985,222,4366,1407,13536,1962,...,748,3943,0,48,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,흑석(중앙대입구),202104,2,0,3105,1170,5851,6290,16257,10371,...,1498,4705,0,16,0,0,0,0,0,0
176,흑석(중앙대입구),202105,1,0,3182,1110,5728,5996,14270,9770,...,1777,4969,0,14,0,0,0,0,0,0
177,흑석(중앙대입구),202106,4,1,3350,1160,6188,6530,16225,11171,...,1635,4876,0,7,0,0,0,0,0,0
178,흑석(중앙대입구),202107,2,1,3187,1207,5557,6559,14454,10671,...,1133,3322,0,6,0,0,0,0,0,0
179,흑석(중앙대입구),202108,5,0,3049,1101,5194,5826,13524,10086,...,819,2912,0,1,0,0,0,0,0,0

### 승,하차 인원 합치기 (승차 + 하차 = 유동인구)

In [243]:
columns = metro_line.columns.tolist()
columns = columns[2:]
print(columns)

['04시-05시 승차인원', '04시-05시 하차인원', '05시-06시 승차인원', '05시-06시 하차인원', '06시-07시 승차인원', '06시-07시 하차인원', '07시-08시 승차인원', '07시-08시 하차인원', '08시-09시 승차인원', '08시-09시 하차인원', '09시-10시 승차인원', '09시-10시 하차인원', '10시-11시 승차인원', '10시-11시 하차인원', '11시-12시 승차인원', '11시-12시 하차인원', '12시-13시 승차인원', '12시-13시 하차인원', '13시-14시 승차인원', '13시-14시 하차인원', '14시-15시 승차인원', '14시-15시 하차인원', '15시-16시 승차인원', '15시-16시 하차인원', '16시-17시 승차인원', '16시-17시 하차인원', '17시-18시 승차인원', '17시-18시 하차인원', '18시-19시 승차인원', '18시-19시 하차인원', '19시-20시 승차인원', '19시-20시 하차인원', '20시-21시 승차인원', '20시-21시 하차인원', '21시-22시 승차인원', '21시-22시 하차인원', '22시-23시 승차인원', '22시-23시 하차인원', '23시-24시 승차인원', '23시-24시 하차인원', '00시-01시 승차인원', '00시-01시 하차인원', '01시-02시 승차인원', '01시-02시 하차인원', '02시-03시 승차인원', '02시-03시 하차인원', '03시-04시 승차인원', '03시-04시 하차인원']

In [244]:
times = []
for i in columns:
    i = i.strip('승차인원')
    i = i.strip('하차인원')
    times.append(i)


# 중복 제거
time = []
for v in times :
    if v not in time :
        time.append(v)
print(time)

['04시-05시 ', '05시-06시 ', '06시-07시 ', '07시-08시 ', '08시-09시 ', '09시-10시 ', '10시-11시 ', '11시-12시 ', '12시-13시 ', '13시-14시 ', '14시-15시 ', '15시-16시 ', '16시-17시 ', '17시-18시 ', '18시-19시 ', '19시-20시 ', '20시-21시 ', '21시-22시 ', '22시-23시 ', '23시-24시 ', '00시-01시 ', '01시-02시 ', '02시-03시 ', '03시-04시 ']

In [237]:
metro_total = pd.DataFrame()
metro_total['지하철역'] = metro_line['지하철역']
metro_total['사용월'] = metro_line['사용월']

for i in range(len(time)) :
    metro_total[time[i]] = metro_line[columns[2*i]] + metro_line[columns[2*i+1]]

metro_total

,지하철역,사용월,04시-05시,05시-06시,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,...,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-24시,00시-01시,01시-02시,02시-03시,03시-04시
0,노들,202001,21,3518,6160,17277,24454,15711,12781,10759,...,21842,16719,10932,10406,9370,5663,1532,10,0,0
1,노들,202002,9,3264,5580,16359,22898,13514,9964,8186,...,19122,14919,8865,8589,7474,4490,1236,0,0,0
2,노들,202003,10,2932,5176,14000,18468,10855,7112,6220,...,17209,13103,7641,6950,5651,3365,1002,0,0,0
3,노들,202004,14,3042,5335,14629,19122,11298,7763,7169,...,17597,13265,8264,7600,6346,4012,40,0,0,0
4,노들,202005,16,3207,5773,15498,20747,12713,9824,8586,...,19405,14126,9146,8791,7541,4691,48,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,흑석(중앙대입구),202104,2,4275,12141,26628,35573,24367,19979,18071,...,40200,25745,18172,16822,18632,6203,16,0,0,0
176,흑석(중앙대입구),202105,1,4292,11724,24040,32558,23329,19666,18468,...,38269,24719,18646,17511,20084,6746,14,0,0,0
177,흑석(중앙대입구),202106,5,4510,12718,27396,35988,24464,20730,18456,...,39737,24797,18270,16693,19085,6511,7,0,0,0
178,흑석(중앙대입구),202107,3,4394,12116,25125,32843,23263,18385,16913,...,35413,22043,15821,13630,14057,4455,6,0,0,0
179,흑석(중앙대입구),202108,5,4150,11020,23610,30719,22456,18416,16806,...,34805,21278,15405,13477,11587,3731,1,0,0,0

### 가게 영업 시간대(13시 ~ 18시)의 데이터만 추출

In [238]:
metro_YS = metro_total[['지하철역','사용월',
 '13시-14시 ',
 '14시-15시 ',
 '15시-16시 ',
 '16시-17시 ',
 '17시-18시 ',
 '18시-19시 ',
 '19시-20시 ']]

In [239]:
# 정제 완료된 데이터 : metro_YS
# 2020년 1월 ~ 2021년 8월까지의 동작구 지하철역(9개) 유동인구 데이터
# '흑석(중앙대입구)','상도','숭실대입구(살피재)','동작(현충원)','총신대입구(이수)','노들','노량진','장승배기','신대방삼거리' 
metro_YS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   지하철역      180 non-null    object
 1   사용월       180 non-null    int64
 2   13시-14시   180 non-null    int64
 3   14시-15시   180 non-null    int64
 4   15시-16시   180 non-null    int64
 5   16시-17시   180 non-null    int64
 6   17시-18시   180 non-null    int64
 7   18시-19시   180 non-null    int64
 8   19시-20시   180 non-null    int64
dtypes: int64(8), object(1)
memory usage: 12.8+ KB

# 2. 데이터 분석

In [240]:
metro_YS.head(20)

,지하철역,사용월,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시
0,노들,202001,13201,12021,13710,13895,16307,21842,16719
1,노들,202002,9936,8927,10152,10181,13269,19122,14919
2,노들,202003,7776,7065,8222,8487,11334,17209,13103
3,노들,202004,8463,7965,8959,9509,12122,17597,13265
4,노들,202005,10160,9520,10513,11263,13698,19405,14126
5,노들,202006,9979,8659,10592,11374,14186,21283,15437
6,노들,202007,10566,9767,11313,12661,15761,22787,16376
7,노들,202008,9466,8573,10177,10607,13938,19742,14355
8,노들,202009,8640,8504,9843,10224,13229,18871,13453
9,노들,202010,10717,9951,11411,12163,15097,20269,14600
10,노들,202011,10440,9866,11076,12050,14873,20867,14535
11,노들,202012,8784,8348,9732,10109,12506,18002,12718
12,노들,202101,8986,8438,9390,10088,12659,18117,13440
13,노들,202102,9035,8632,9688,10208,12189,17445,12438
14,노들,202103,10590,10116,11395,12356,15112,21258,15407
15,노들,202104,10565,9974,11294,12252,14894,21474,15669
16,노들,202105,11106,10655,11630,12681,14555,20425,14370
17,노들,202106,10263,9582,10862,12554,14854,22053,15209
18,노들,202107,9243,8715,9648,10690,13715,20873,14364
19,노들,202108,9364,8792,9693,10701,13363,20283,13743

## 2.1. 시간대별 평균 유동인구

In [245]:
metro_mean = metro_YS.groupby(['지하철역']).mean().reset_index() # 지하철역 마다 평균 계산
metro_mean = metro_mean.drop(columns='사용월') # 사용월 칼럼 삭제
metro_mean

,지하철역,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시
0,노들,9864.00,9203.50,10465.00,11202.65,13883.05,19946.20,14412.30
1,노량진,87541.45,76192.15,81588.80,93261.20,128895.20,183533.00,115333.75
2,동작(현충원),11189.30,11695.45,12546.85,13766.75,16246.20,20853.80,12752.85
3,상도,23271.85,22577.20,24188.50,28915.80,36350.60,50147.45,34918.10
4,숭실대입구(살피재),27687.90,26659.35,28656.75,33882.50,43711.85,58398.85,43171.95
5,신대방삼거리,32925.35,32755.35,35663.55,41125.05,51855.55,83030.95,59736.95
6,장승배기,22620.80,22058.05,23835.85,26519.10,32270.65,46584.05,33664.10
7,총신대입구(이수),51234.95,52002.85,55802.75,63008.40,77693.55,109576.00,71461.05
8,흑석(중앙대입구),20692.20,19393.55,22190.65,25186.50,32494.50,37526.90,24768.40

## 2.2. 각 지하철역 별  시간대 유동인구 그래프